// page-category {

// }
.imgTxt{
// size: 1000px;
width: 200;
height: 200;
align-content: center;
text-align: center;
// background-color: aqua;
}
.displayimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height:70px;
}
.displaytxt{
    //  background-color: rgba(250, 160, 160, 0.5);
     background-color: transparent;

}
.Mycategory{
    //put text ontop of image
    position:relative;

}