// page-category {

// }
// b{
//     font-size: 50px;
// }
// ion-img{
//     size: 200px;
//     border: black;
// }
.imgText{
size: 1000px;
width: 50px;
height: 50px;

// background-color: aqua;
}
.imgdisplay{
    // size: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.displaytext{
    //  background-color: rgba(250, 160, 160, 0.5);
     background-color: transparent;
}