<!--
  Generated template for the CategoryimagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="ion-text-center">{{categoryname}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div >

</div>

<div *ngFor="let item of imagesArr">
    <img  [src]=item.URL (click)='navtoimage($event,item)' class="imgsize"> 
    <!-- <b>{{item.catName}}</b> -->
</div>
<!-- <button ion-button color="light" size="small" >{{currentPage}}</button>
<button ion-button color="light" size="small">{{NumofPages}}</button> -->
<a (click)="prevPage()" *ngIf="currentPage!=1">prev</a> <div *ngIf="arrPages" >
  <a >1</a><ion-row style="height: h"></ion-row>
  <p *ngIf="currentPage!=2">..</p>
  <a *ngIf="currentPage != 1" > {{currentPage}}</a>
  <p *ngIf="NumofPages-currentPage!=1&& NumofPages-currentPage!=0">..</p>
  <a  *ngIf="currentPage != NumofPages">{{NumofPages}}</a>
  <!-- <a  *ngFor="let ind of arrPages" [ngClass]='{"classPage":ind==currentPage}' >{{ind}} </a> -->
</div> 
<a (click)="nextPage()" *ngIf="currentPage!=NumofPages">next</a>
</ion-content>
