<!--
  Generated template for the CategoryimagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="general">
  <ion-navbar class="general">
    <ion-title style="background-color: rgb(235, 183, 14);" class="ion-text-center">{{categoryname}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding  class="general">
<div >

</div>

<!-- <div *ngFor="let item of imagesArr">
    <img  [src]="item.image.URL" (click)='navtoimage($event,item)' class="imgsize"> 
  
</div> -->
<p *ngIf="imagesArr == 0" style="font-size: 400%;text-align: center">please wait...</p>
<ion-spinner class="spinnerCenter" name="crescent" *ngIf="imagesArr == 0"></ion-spinner>

<ion-grid no-padding class="home-gallery" style="margin-top: 1%">
    <ion-row >
      <ion-col col-3 *ngFor="let item of imagesArr" class="imgTxt">
          <img style="width: 70%;height: 80%;"  [src]="item.image.URL" (click)='navtoimage($event,item)' class="imgsize"> 
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- <button ion-button color="light" size="small" >{{currentPage}}</button>
<button ion-button color="light" size="small">{{NumofPages}}</button> -->
<div   style="display: inline">
<p (click)="nextPage(currentPage-1)" *ngIf="currentPage!=1">prev</p> 

<!-- class="numbersPage"> -->
  <div *ngIf = "arrPages"  >

    <p *ngIf ="currentPage!=1"> <ion-icon (click)="goToNextPrevPage(currentPage-1)" name="arrow-dropleft"> </ion-icon></p>
    <p *ngIf ="currentPage!= 1">1</p>
    <p *ngIf ="currentPage!= 1 && currentPage !=2">...</p>
    <p  class="currentBold" > {{currentPage}}</p>
    <p *ngFor =" let item of arrPages "> {{item}} </p>
    <!-- <div *ngIf="item!=0"> {{item}}</div> -->
    
    <p *ngIf ="arrPages[3]!= numOfPages && arrPages[3]!= numOfPages-1 && arrPages[3]!=0">...</p>
    <p *ngIf ="arrPages[3]!= numOfPages &&  arrPages[3]!=0"> {{numOfPages}}   </p>
    
    <p *ngIf ="currentPage!=numOfPages"> <ion-icon (click)="goToNextPrevPage(currentPage+1)" name="arrow-dropright"> 
      </ion-icon></p>
  </div>
<!-- </ion-content> -->
