page-categoryimages {
    background-color: rgb(235, 183, 14);
}
.general {
    background-color: rgb(235, 183, 14);
}
.imgsize{
    height: 100px;
    width: 100px;
}
.ion-text-center{
    text-align: center;
   // align-content: center;
}
button{
    width: 12px;
    height: 10px;
}
.classCurrent{
    color: red;
}
.numbersPage{
    display: inline-block;
    // color: pink;
}
body{
    background-color: rgb(235, 183, 14);
}
.toolbar-background {
    background-color:rgb(235, 183, 14);
    border-style: outset;
    //border-color: black;
  }

