// page-categoryimages {

// }
.imgsize{
  
    height:30px;
    width:30px;
}
.ion-text-center{
    text-align: center;
   // align-content: center;
}
button{
    width: 12px;
    height: 10px;
}
.classPage{
    
}

