// page-categoryimages {

// }
.imgsize{
    height: 100px;
    width: 100px;
}
.ion-text-center{
    text-align: center;
   // align-content: center;
}
button{
    width: 12px;
    height: 10px;
}
.classCurrent{
    color: red;
}

