page-home {
    background-color: rgb(235, 183, 14);
}
body{
    background-color: rgb(235, 183, 14);
}
.general {
    background-color: rgb(235, 183, 14);
}
.toolbar-background {
    background-color:rgb(235, 183, 14);
    border-style: outset;
    //border-color: black;
  }
