page-image {
    background-color: rgb(235, 183, 14);
}
.general {
    background-color: rgb(235, 183, 14);
}
.scroll-content{
    overflow-x: auto;
    overflow-y: auto;
}
// .imgcss{
//     // width:50%;
//     // height:50%;
//     // max-width: 110%;
// }
// .arrow{
//     size: 50px;
// }
// .iconhome{
//     left: 0;
//     size:100pxa;
//     // mask-position: 0% 100% ;
//     align-self: right;
// }
// .ImagePage{
//     align-content: center;
//     display: block;
//     margin-left: 25%;
//     margin-top: 25%;
//     position: absolute;
// }
body{
    background-color: rgb(235, 183, 14);
}
// img{
//     width: 60%;
//     margin-top: 3%;
//     margin-left: 20%;
// }
.toolbar-background {
    background-color:rgb(235, 183, 14);
    border-style: outset;
    //border-color: black;
  }