// page-image {

// }
.imgcss{
    width:50%;
    height:50%;
    max-width: 110%;
}
.arrow{
    size: 50px;
}
.iconhome{
    left: 0;
    size:100pxa;
    // mask-position: 0% 100% ;
    align-self: right;
}
.ImagePage{
    align-content: center;
    display: block;
    margin-left: 25%;
    margin-top: 25%;
    position: absolute;
}